
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Circles</title>
    <style>
    html,
    body,
    #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
    }
    </style>
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script>
    // This example creates circles on the map, representing
    // populations in North America.

    // First, create an object containing LatLng and population for each city.
    var citymap = {};
    citymap['chicago'] = {
        center: new google.maps.LatLng(41.878113, -87.629798),
        population: 2714856
    };
    citymap['losangeles'] = {
        center: new google.maps.LatLng(34.052234, -118.243684),
        population: 3857799
    };
    citymap['vancouver'] = {
        center: new google.maps.LatLng(49.25, -123.1),
        population: 603502
    };

    var cityCircle;

    function initialize()   {
        console.log("initialize called"); 
        console.log('{{keyword}}');
        console.log("citymap");
        console.log(citymap);
        var mapOptions = {
            zoom: 4,
            center: new google.maps.LatLng(37.09024, -95.712891),
            mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        // Construct the circle for each value in citymap.
        // Note: We scale the area of the circle based on the population.
        for (var city in citymap)
        {
            var populationOptions = {
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35,
                map: map,
                center: citymap[city].center,
                radius: Math.sqrt(citymap[city].population) * 100
            };
            // Add the circle for this city to the map.
            cityCircle = new google.maps.Circle(populationOptions);
        }
        var namespace = '/test'; // change to an empty string to use the global namespace
        // the socket.io documentation recommends sending an explicit package upon connection
        // this is specially important when using the global namespace
        var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
        // event handler for server sent data
        // the data is displayed in the "Received" section of the page
        console.log("about to bind hashtag event handler");
        socket.on('{{keyword}}', function(msg)
        { 
            var lat = msg.lat;
            var lng = msg.lng;
            console.log(lat);
            console.log(lng);
            var point = new google.maps.LatLng(lat, lng);
             var populationOptions = {
                  strokeColor: '#FF0000',
                  strokeOpacity: 0.8,
                  strokeWeight: 2,
                  fillColor: '#FF0000',
                  fillOpacity: 0.35,
                  center: point,
                  map: map,
                  radius: 100
              };
              console.log('event');
              console.log(populationOptions);
              // Add the circle for this city to the map.
              cityCircle = new google.maps.Circle(populationOptions); 
        });
    }   // initialize

    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>

<body>
    <div id="map-canvas"></div>
</body>

</html>
