
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Circles</title>
    <style>
    html,
    body,
    #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
    }
    </style>
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script>
    var dot;
    
    function initialize()   {
        console.log("initialize called"); 
        console.log('{{keyword}}');
        var data = JSON.parse({{data|tojson}});
        var oldestTimebucket = Number('{{oldest_timebucket}}');
        var newestTimebucket = Number('{{newest_timebucket}}');
        var range = newestTimebucket - oldestTimebucket;
        console.log("oldest: ".concat(oldestTimebucket));
        console.log("newest: ".concat(newestTimebucket));
        console.log("range: ".concat(range)); 
        var timebucket_info = {1: {start: 0, end: 0.2*range, color: '#43C6DB'},
                               2: {start: 0.2*range, end: 0.4*range, color: '#ff69b4'},
                               3: {start: 0.4*range, end: 0.6*range, color: '#FBB917'},
                               4: {start: 0.6*range, end: 0.8*range, color: '#C36241'},
                               5: {start: 0.8*range, end: range, color: '#4B0082'}}; 
        var getColor = function(tb)  {
            for (var bucket_id in timebucket_info)  {
                var start = timebucket_info[bucket_id].start;
                var end = timebucket_info[bucket_id].end;
                if (tb >= oldestTimebucket+start && tb < oldestTimebucket+end)   {
                    /*
                    console.log("assigned ".concat(tb).concat(" to bucket id: ").concat(bucket_id));
                    console.log(timebucket_info[bucket_id].color);
                    */
                    return timebucket_info[bucket_id].color;
                }
            }
        }
        var mapOptions = {
            zoom: 2,
            center: new google.maps.LatLng(37.09024, -95.712891),
            mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        // plot geo coordinates of previously recorded statuses mentioning this trend
        for (var i=0;i<data.length;i++) {
            //TODO use timebucket to assign color
            var dotOptions = {
                strokeColor: getColor(data[i].timebucket),
                strokeOpacity: 1,
                strokeWeight: 2,
                fillColor: getColor(data[i].timebucket),
                fillOpacity: 0.35,
                map: map,
                center: new google.maps.LatLng(data[i].lat, data[i].lng),
                radius: 50000
            };
            // Add the circle for this city to the map.
            dot = new google.maps.Circle(dotOptions);
        }
        var namespace = '/test'; // change to an empty string to use the global namespace
        // the socket.io documentation recommends sending an explicit package upon connection
        // this is specially important when using the global namespace
        var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
        // event handler for server sent data
        // the data is displayed in the "Received" section of the page
        console.log("about to bind hashtag event handler");
        socket.on('{{keyword}}', function(msg)
        { 
            var lat = msg.lat;
            var lng = msg.lng;
            console.log(lat);
            console.log(lng);
            var point = new google.maps.LatLng(lat, lng);
             var populationOptions = {
                  strokeColor: '#000000',
                  strokeOpacity: 0.8,
                  strokeWeight: 2,
                  fillColor: '#000000',
                  fillOpacity: 0.35,
                  center: point,
                  map: map,
                  radius: 50000
              };
              console.log('event');
              console.log(populationOptions);
              // Add the circle for this city to the map.
              cityCircle = new google.maps.Circle(populationOptions); 
        });
    }   // initialize

    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>

<body>
    <div id="map-canvas"></div>
</body>

</html>
