<!DOCTYPE html>
<html lang="en">

{%include "header.html"%}

<body>
     {% include "navbar.html" %}
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>TREND: {{keyword}}</h1>
            <p>No data for this trend yet. Check back later!</p>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About us</h2>
                    <p>Jessica Fan <br>
                        Piyali Mukherjee <br>
                        Emily Chen
                        </p>
                    <p class="lead">Visit our GITHUB: <a target="_blank" href="https://github.com/six5532one/reach">REACH PROJECT ♥ ♥</a>.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

</body>

</html>
